git+https://github.com/drongo-framework/drongo.git
git+https://github.com/drongo-framework/drongo-nest.git
git+https://github.com/drongo-framework/drongo-wing.git#subdirectory=wing-jinja2
git+https://github.com/drongo-framework/drongo-wing.git#subdirectory=wing-static
tinydb==3.2.3
